/* Importar Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

/* Estilos generales */
:root {
  --navbar: #fff;
  --text-navbar: #000;
  --border-main: #fff;
  --border-contadores: #fff;
}

/* Estilos para pantallas grandes (computadoras) */
.navbar {
  background-color: var(--navbar);
}

.navbar-item {
  color: var(--text-navbar);
  font-weight: bold;
}

.navbar-logo {
  max-height: 5rem;
  margin-right: 1rem;
}

.main-content {
  background-color: #220da6;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-container {
    position: sticky;
    top: 0;
    /*background-color: #fff; Ajusta el color de fondo según tus necesidades */
    padding: 10px 0; /* Ajusta el espaciado según tus necesidades */
    z-index: 1; /* Asegura que el contenedor esté por encima de la tabla */
    margin-top: 90px;
}

.contadores {
    display: flex;
    justify-content: center;
    gap: 10px; /* Ajusta el espacio entre los contadores según tus necesidades */
}

#rif-counter,
#gps-counter,
#camera-counter {
  flex: 1;
  margin: 0;
}

.crud-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid var(--border-main);
  padding: 1rem 2rem;
  box-shadow: 0 0 1rem 0 rgba(25, 21, 0, 0.3);
  border-radius: 1rem;
}

.crud-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 1rem 2rem;
  border-bottom: 1px solid;
}

/* Estilos para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 768px) {
  .main-content {
    height: auto;
    padding: 1rem;
  }

  .contadores {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  #rif-counter,
  #gps-counter,
  #camera-counter {
    flex: 0 0 50%;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .crud-container {
    padding: 0.5rem;
  }

  .crud-header {
    flex-direction: column;
    align-items: center;
    padding: 0 0 1rem 0;
  }

  .crud-header button {
    margin-top: 1rem;
  }
}

/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Estilos para la tabla en dispositivos móviles */
@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table td,
  .table th {
    white-space: nowrap;
  }
}

/* Ocultar columna en dispositivos móviles */
@media (max-width: 768px) {
  .is-hidden-mobile {
    display: none;
  }
}

/* Ajustar tamaño de celdas en dispositivos móviles */
@media (max-width: 768px) {
  .is-size-7-mobile {
    font-size: 0.75rem;
  }
}

/* Estilos para la paginación */
.pagination-container {
  margin-top: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-previous,
.pagination-next {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination-previous:hover,
.pagination-next:hover {
  background-color: #e9e9e9;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0 0.5rem;
  padding: 0;
}

.pagination-link {
  padding: 0.25rem 0.5rem; /* Reducir el padding para hacer los números más pequeños */
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 0 0.25rem;
  font-size: 0.8rem; /* Reducir el tamaño de fuente para hacer los números más pequeños */
}

.pagination-link:hover {
  background-color: #e9e9e9;
}

.pagination-link.is-current {
  background-color: #3273dc;
  color: #fff;
}