/* Importar Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

/* Estilos generales */
:root {
  --navbar: #fff;
  --text-navbar: #000;
  --border-main: #fff;
  --border-contadores: #fff;
}

/* Estilos para pantallas grandes (computadoras) */
.navbar {
  background-color: var(--navbar);
}

.navbar-item {
  color: var(--text-navbar);
  font-weight: bold;
}

.navbar-logo {
  max-height: 5rem;
  margin-right: 1rem;
}

.main-content {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contadores {
  display: flex;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
  border: 1px solid var(--border-contadores);
  padding: 1rem 2rem;
  overflow: auto;
  box-shadow: 0 0 1rem 0 rgba(25, 21, 0, 0.3);
  border-radius: 1rem;
}

#rif-counter,
#gps-counter,
#camera-counter {
  flex: 1;
  margin: 0;
}

.crud-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid var(--border-main);
  padding: 1rem 2rem;
  box-shadow: 0 0 1rem 0 rgba(25, 21, 0, 0.3);
  border-radius: 1rem;
}

.crud-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 1rem 2rem;
  border-bottom: 1px solid;
}

/* Estilos para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 768px) {
  .main-content {
    height: auto;
    padding: 1rem;
  }

  .contadores {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  #rif-counter,
  #gps-counter,
  #camera-counter {
    flex: 0 0 50%;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .crud-container {
    padding: 0.5rem;
  }

  .crud-header {
    flex-direction: column;
    align-items: center;
    padding: 0 0 1rem 0;
  }

  .crud-header button {
    margin-top: 1rem;
  }
}

/* Estilos para la tabla */
/* ... (estilos para la tabla) ... */

/* Estilos para la paginación */
/* ... (estilos para la paginación) ... */