/* Se importa Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
/* HEADER */
:root{
    --navbar: #ffff;
    --text_navbar: #000;
    --border_main: #fff;
    --border_contadores: #ffff
}
.navbar {
  background-color: var(--navbar);
}
.navbar-item {
  color: var(--text_navbar);
  font-weight: bold;
}
/* LOGO */
.navbar-logo {
  max-height: 5rem; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-right: 1rem; /* Espacio entre la imagen y el texto */
}
/* MAIN */
.main-content {
  height: 50vh;
  display: flex;
  flex-direction: column; /* Organizar elementos en columnas */
  align-items: center; /* Alinear elementos en el centro horizontalmente */
  justify-content: center;
}
.contadores {
  display: flex; /* Utilizar flexbox para colocar los contadores en línea */
  align-items: center; /* Alinear los contadores verticalmente */
  width: 90%;
  margin-bottom: 1rem; /* Añadir margen inferior para separar de CRUD Container */
  border: 1px solid var(--border_contadores);
  padding: 1rem 2rem;
  overflow: auto;
  box-shadow: 0 0 1rem 0 rgba(25.21.0.0.3);
  border-radius: 1rem;
}

#rif-counter,
#gps-counter,
#camera-counter {
  flex: 2; /* Que cada contador ocupe el mismo ancho */
  margin: 0; /* Eliminar el margen para evitar espacios innecesarios */
}
.crud-container {
  display: flex;
  flex-direction: column;
  height: 100%;
 /* max-height: 90vh; Establece una altura máxima del 70% de la altura de la ventana del navegador */
  /*overflow: auto; Agrega barras de desplazamiento si el contenido excede la altura máxima */
  width: 100%; /* Cambiar el ancho al 100% para ocupar toda la línea */
  margin-bottom: 1rem; /* Añadir margen inferior para separar de CRUD Container */
  border: 1px solid var(--border_main);
  padding: 1rem 2rem;
  box-shadow: 0 0 1rem 0 rgba(25.21.0.0.3);
  border-radius: 1rem;
}

.crud-header{
  flex-shrink: 0; /* Evita que el encabezado se encoja */
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 1rem 2rem;
  border-bottom: 1px solid;
}

/* Estilos para la tabla */
.table {
  margin-bottom: 1rem;
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  border-collapse: collapse; /* Elimina el espacio entre las celdas */
}
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-wrapper {
  flex-grow: 1; /* Permite que el contenedor de la tabla crezca y ocupe todo el espacio disponible */
 overflow: auto;Agrega barras de desplazamiento si la tabla excede el tamaño del contenedor */
}
/* Estilos para la paginación */
.pagination-container {
  margin-top: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-previous,
.pagination-next {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination-previous:hover,
.pagination-next:hover {
  background-color: #e9e9e9;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0 0.5rem;
  padding: 0;
}

.pagination-link {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 0 0.25rem;
}

.pagination-link:hover {
  background-color: #e9e9e9;
}

.pagination-link.is-current {
  background-color: #3273dc;
  color: #fff;
}